* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 2rem;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	margin-bottom: 2rem;
}

fieldset {
	padding: 1rem;
	border-radius: 5px;
	background-color: #ccc;
}

legend {
	font-weight: bold;
	font-size: 1.2rem;
}

label {
	display: block;
	margin-bottom: 1rem;
	user-select: none;
}

label.row {
	font-weight: bold;
}

label.row label {
	font-weight: normal;
	margin-bottom: .5rem;
}

div.levels, div.techItems {
	margin-top: 1rem;
	margin-left: 1rem;
}

input[type="text"], input[type="email"], input[type="number"] {
	display: block;
	width: 100%;
	margin-top: .3rem;
	font-size: 1.3rem;
	padding: .3rem;
}

.techItems input [type="checkbox"] {
}

.techItems label {
	/* flex-basis: 100px; */
	flex-flow: row wrap;
	min-width: 150px;
	/* flex-grow: 1; */
	/* outline: 1px solid blue; */
	
}

.techItems {
	display: flex;
	flex-wrap: wrap;
	/* gap: 1rem; */
	/* outline: 1px solid red; */
}